<div class="s-header">
    <div class="l-wrapper">
        <div class="s-header__inner">
            <div class="s-header__logo">
                <img src="{{ site.image_url }}/logo.svg">
            </div>
            <div class="s-header__nav">
                <a class="s-header__nav-link" href="{{ site.baseurl }}/">Hoe werkt het?</a>
                <a class="s-header__nav-link" href="{{ site.baseurl }}/">Auto's</a>
                <a class="s-header__nav-link" href="{{ site.baseurl }}/">Over EasyDriving</a>
                <a class="s-header__nav-link" href="{{ site.baseurl }}/">Nieuws</a>
                <a class="s-header__nav-link" href="{{ site.baseurl }}/">Contact</a>
                <a class="c-button --border" href="{{ site.baseurl }}/">Aanmelden</a>
            </div>
        </div>
    </div>
</div>
